<!doctype html>
<html ng-app="commentsDataApp" lang="en-US">
	<head>
		<title>Comments Data Viewer | AngularJS</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- AngularJS -->
 		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
 		<!-- Angular-santize.js used to remove potentially dangerous tokens from HTML while using ng-bind-html-->
 		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
 		<script src="public/dataTable.js"></script>

        	<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="public/index.css">
	</head>

	<body ng-app="BlankApp">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			    	<!-- Brand and toggle get grouped for better mobile display -->
			    	<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Comments Data Viewer</a>
				</div>
			</div>
		</nav>
		
		<div ng-controller="dataTable" class="container">
			<div>
				<div class="input-group">
				    	<input class="form-control" ng-model="searchText" placeholder="Search" type="search" ng-change="search(searchText)" /> 
			    		<span class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</span>		            
				</div>
				<br>

				<div class="row">
				    	<div class="col-xs-12 col-sm-4">
						<div class="form-group">
							<label for="resultsPerPage" id="labelResultsPerPage">Results per Page:</label>
							<select class="form-control input-sm" ng-model="resultsPerPage" ng-init="resultsPerPage = pageSizeOptions[1]" ng-options="x for x in pageSizeOptions" id="resultsPerPage" ng-change="setResultsPerPage(resultsPerPage)">
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-8">
						<div class="text-center">
							<ul class="pagination input-sm pull-right" id="paginationTop">
								<li id="paginationItems" class="page-item" ng-class="{disabled: (pageNo == 1)}">
									<a class="page-link" href="#" ng-click="(pageNo == 1) ||setPage(1)">First</a>				      		
								</li>
								<li id="paginationItems" class="page-item" ng-class="{disabled: (pageNo == 1)}">
									<a class="page-link" href="#" ng-click="(pageNo == 1) ||setPage('prev')">Previous</a>				      		
								</li>
								<!--
								<li id="paginationItems" class="page-item" ng-repeat="i in getNumber(maxPages) track by $index" ng-class="{active: ($index+1) == pageNo}">
									<a class="page-link" href="#" ng-click="setPage($index+1)">{{$index+1}}</a>
								</li>
								-->				    
								<li id="paginationItems" class="page-item"  ng-class="{disabled: pageNo == maxPages}">
									<a class="page-link" href="#" ng-click="(pageNo == maxPages) || setPage('next')">Next</a>
								</li>
								<li id="paginationItems" class="page-item"  ng-class="{disabled: pageNo == maxPages}">
									<a class="page-link" href="#" ng-click="(pageNo == maxPages) || setPage(maxPages)">Last</a>
								</li>
							</ul>
						</div>
					</div>          
				</div>
				
				<div class="table-responsive">
					<div class="">
						<table class="table table-hover table-striped table-border commentsTable" id="dataTablesComments">
							<thead>
								<tr>
									<th class="col-xs-1 col-md-1 dataID">
										<a href="#" ng-click="sortData('id')">
										ID
										<span class="glyphicon sort-icon" id="sortIcon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':order,'glyphicon-chevron-down':!order}"></span>
										</a>
									</th>
									<th class="col-xs-1 col-md-1 dataPostID">
										<a href="#" ng-click="sortData('postID')">
										PostID
										<span class="glyphicon sort-icon" id="sortIcon" ng-show="sortKey=='postID'" ng-class="{'glyphicon-chevron-up':order,'glyphicon-chevron-down':!order}"></span>
										</a>
									</th>
									<th class="col-xs-2 col-md-2 dataEmail">
										<a href="#" ng-click="sortData('email')">
										Email
										<span class="glyphicon sort-icon" id="sortIcon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':order,'glyphicon-chevron-down':!order}"></span>
										</a>
									</th>
									<th class="col-xs-2 col-md-2 dataName">
										<a href="#" ng-click="sortData('name')">
										Name
										<span class="glyphicon sort-icon" id="sortIcon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':order,'glyphicon-chevron-down':!order}"></span>
										</a>
									</th>
									<th class="col-xs-6 col-md-6 dataBody">
										<a href="#" ng-click="sortData('body')">
										Body
										<span class="glyphicon sort-icon" id="sortIcon" ng-show="sortKey=='body'" ng-class="{'glyphicon-chevron-up':order,'glyphicon-chevron-down':!order}"></span>
										</a>
									</th>
								</tr>
							</thead>
							<tbody>
								<!--ng-repeat - repeats a set of HTML Code a certain number of times-->
								<tr ng-repeat="x in myData | orderBy:sortKey:order | filter:searchText">
									<td id="dataRow" ng-bind-html="x.id.toString() | highlighted:searchText"></td>
									<td id="dataRow" ng-bind-html="x.postId.toString() | highlighted:searchText"></td>
									<td id="dataRow" ng-bind-html="x.email | highlighted:searchText"></td>
									<td id="dataRow" ng-bind-html="x.name | highlighted:searchText"></td>
									<td id="dataRow" ng-bind-html="x.body | highlighted:searchText"></td>
								</tr>
							</tbody>
						</table>
						<!--ng-hide - hides the HTML element if the expression is true -->
						<p ng-hide="myData.length"><b>No matching results found. Please try again.</b></p>
					</div>
				</div>
			</div>
		
			<div class="row" ng-show="myData.length">
				<div class="col-xs-12 col-sm-4">
					<p id="itemsTxt">Showing <b>{{(pageSize*(pageNo-1))+1}}</b> to <b>{{lastTableEntry}}</b> of <b>{{totalCount}}</b> entries</p> 
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="text-center">
						<ul class="pagination input-sm pull-right"  id="paginationBottom">
							<li id="paginationItems" class="page-item" ng-class="{disabled: (pageNo == 1)}">
							    <a class="page-link" href="#" ng-click="(pageNo == 1) ||setPage(1)">First</a>				      		
							</li>
							<li id="paginationItems" class="page-item" ng-class="{disabled: (pageNo == 1)}">
							    <a class="page-link" href="#" ng-click="(pageNo == 1) ||setPage('prev')">Previous</a>				      		
							</li>
							<!--
							<li id="paginationItems" class="page-item" ng-repeat="i in getNumber(maxPages) track by $index" ng-class="{active: ($index+1) == pageNo}">
							    <a class="page-link" href="#" ng-click="setPage($index+1)">{{$index+1}}</a>
							</li>
							-->				    
							<li id="paginationItems" class="page-item"  ng-class="{disabled: pageNo == maxPages}">
								<a class="page-link" href="#" ng-click="(pageNo == maxPages) || setPage('next')">Next</a>
							</li>
							<li id="paginationItems" class="page-item"  ng-class="{disabled: pageNo == maxPages}">
								<a class="page-link" href="#" ng-click="(pageNo == maxPages) || setPage(maxPages)">Last</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<br><br><br>
		</div>
	</body>
</html>
